<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/style.css" rel="stylesheet">
    <title>My ToDo list</title>

</head>
<body>
    <div id="content">
        <h1>TODO Manager</h1>
        <a href="/logout" methods="get">Logout</a> {{user}} <br><br>
        <form method="post" action="/add">
            Task: <input type="text" name="task">
            <input type="submit" value="Add">
        </form>

        {{#if error}}<h2>{{error}}</h2>{{/if}}
            {{{content}}}



        &copy; BogMW
    </div>
</body>
<script src="js/main.js"></script>
</html>