<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="css/login.css" media="screen" type="text/css" />
</head>
<body>
    <div id="login">
        <form action="/login" method="post">
            <fieldset class="clearfix">
                <p><span class="fontawesome-user"></span><input type="text" name="username" placeholder="Enter your login" required></p>
                <p><span class="fontawesome-lock"></span><input type="password" name="password"  placeholder="Enter your password" required></p>
                <p><input type="submit" value="Enter"></p>
            </fieldset>
        </form>
        <p>New there? &nbsp;&nbsp;<a href="/registration">Registration</a><span class="fontawesome-arrow-right"></span></p>
    </div>
</body>
</html>